<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
  <h1> Team Name: <%= @teamname %> </h1>
  <p> Coach: <%= @coach %> </p>
  <p> Point Guard: <%= @pg %> </p>
  <p> Shooting Guard: <%= @sg %> </p>
  <p> Power Forward: <%= @pf %> </p>
  <p> Small Forward: <%= @sf %> </p>
  <p> Center: <%= @center %> </p>
 </head>
 <body>



 </body>
</html>
